
    <div class="card">
      <div class="card-body p-1">
        <div class="card-image-wrapper">
          <img class="card-img-top"src="assets/images/house1.jpg" alt="">

        <ul class="list-inline text-center member-icons animate">
          <li class="list-inline-item">
            <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary"><i class="fas fa-phone-square"></i></button>
          </li>
        </ul>
      </div>
        <h1>{{ property.name }}</h1>
        <h2>{{ property.type }}</h2>
        <h2>{{ property.price }}</h2>
      </div>
    </div>


